---
name: release
on:
  release:
    types:
      - published
permissions:
  packages: write
  contents: read
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version-file: .bun-version
          registry-url: "https://registry.npmjs.org/"
          scope: ${{ env.BUN_SCOPE }}
      - run: bun publish
        env:
          BUN_CONFIG_TOKEN: ${{ secrets.BUN_CONFIG_TOKEN }}
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}
  cancel-in-progress: true
